---
layout: features
title: Features
permalink: /features/
class: features-page
---

<style>
  table {
    width: 100%; /* Ширина таблицы */
  }
  td {
    padding: 5px; /* Поля в ячейках */
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
  }
</style>

{% include doc-shortcut-tip.html %}


<h2 id="editor" align="center">Smart editor</h2>
<h3>Syntax highlighting</h3>
<table border="1" cellpadding="5">
  <tr>
    <td width="50%">On top of the basic lexer highlighting, Intellij Rust highlights inferred types and macros, including generated modules and methods from <code>impl</code> blocks. It also marks mutable elements in your code:</td>
    <td>Those expressions and functions within <code>unsafe {}</code> blocks that perform unsafe operations are additionally highlighted with contrast background:</td>
  </tr>
  <tr>
    <td><img src="/assets/features/smart_editor/highlight_basic.png" width="400"></td>
    <td><img src="/assets/features/smart_editor/highlight_unsafe.png" width="400"></td>
  </tr>
</table>
<br/>
<p>The highlighting palette is fully customizable for both Darcula and Light color schemes.</p>



  <h3>Quick docs and Quick definition</h3>
<table border="1" cellpadding="5">
  <tr>
    <td width="50%" >At any code element, including library functions, invoke <strong>Quick Doc</strong> (<code>Ctrl+Q / F1</code>) to view the documentation popup. If there is a piece of code in the docs, it will be formatted and highlighted properly:</td>
    <td>To view the implementation or declaration of an element without leaving your current context, call <strong>Quick Definition</strong> by pressing <code>Ctrl+Shift+I / ⌥Space</code>:</td>
  </tr>
  <tr>
    <td><img src="/assets/features/smart_editor/quick_doc.png" width="400"></td>
    <td><img src="/assets/features/smart_editor/quick_def.png" width="450"></td>
  </tr>
</table>
<br/>
<p>Another handy option for viewing documentation is the <img src="/assets/features/smart_editor/docsrs.svg" width="16"> gutter icon, which you can see next to the extern crate declarations. Click it, and you will jump right to the particular crate’s description on <a href="docs.rs">docs.rs</a>.</p>

<!--div class="feature-group">
  <div class="feature half">
<p>At any code element, including library functions, invoke Quick Doc (Ctrl+Q / F1) to view the documentation popup. If there is a piece of code in the docs, it will be formatted and highlighted properly:</p>
    <p>img 3</p>
  </div>
  <div class="feature half">
<p>To view the implementation or declaration of an element without leaving your current context, call Quick Definition by pressing Ctrl+Shift+I / ⌥Space:</p>
    <p>img 4</p>
  </div>
  <p>Another handy option for viewing documentation is the <img src="/assets/features/smart_editor/docsrs.svg" width="16"> gutter icon, which you can see next to extern crate declarations. Click it, and you will jump right to the particular crate’s description on docs.rs.</p>
</div-->


  <h3>Hints and Type information</h3>
<p>Hints for function argument names, types, and lambda parameters are displayed in the editor, and IntelliJ Rust adjusts them as you type. If you prefer not to see some of the hints or hide all of them, you can always tune it in the settings.</p>


<table border="1" cellpadding="5">
  <tr>
    <td width="50%" >If you press <code>Ctrl</code> and hover the mouse over a hint, it will get into an interactive inlay:</td>
    <td>You can also get the type information by calling <strong>Type Info</strong> (<code>Ctrl + Shift + P / ⌃⇧P</code>) for a selected expression:</td>
  </tr>
  <tr>
    <td><!--img class="gif" data-wait="true" data-scope="gif-scope" width=450
             src="/assets/features/smart_editor/hints_change.png" data-gif="/assets/features/smart_editor/hints_change.gif"/-->
      <img class="gif" data-wait="true" data-scope="gif-scope" width=450
               src="/assets/features/smart_editor/hints_inlay.png" data-gif="/assets/features/smart_editor/hints_inlay.gif"/></td>
    <td><img class="gif" data-wait="true" data-scope="gif-scope" width=500
             src="/assets/features/smart_editor/type_info.png" data-gif="/assets/features/smart_editor/type_info.gif"/></td>
  </tr>
</table>

<!--
<p>If you press <code>Ctrl</code> and hover the mouse over a hint, it will get into an interactive inlay:
<img class="gif" data-wait="true" data-scope="gif-scope" width=500
     src="/assets/features/smart_editor/hints_change.png" data-gif="/assets/features/smart_editor/hints_change.gif"/>
</p>

<p>You can also get the type information by calling Type Info (<code>Ctrl + Shift + P / ?</code>) for a selected expression:
<img class="gif" data-wait="true" data-scope="gif-scope" width=500
     src="/assets/features/smart_editor/type_info.png" data-gif="/assets/features/smart_editor/type_info.gif"/>
</p>
-->
<br/>
<p>Another alternative to view the types is to turn off the <strong>Show local variable type hints</strong> option and hover your mouse while holding <code>Ctrl / ⌘</code>.</p>



  <h3>Macro expansion popup</h3>
<p>To explore the expansion of any declarative macro in your code, press <code>Alt/⌥ + Enter</code> and choose to view either one-step or full recursive expansion. This feature is a part of the macro expansion functionality that affects most of the code insight.
</p>
<p>
<img class="gif" data-wait="true" data-scope="gif-scope" width=600
     src="/assets/features/smart_editor/macro_expansion.png" data-gif="/assets/features/smart_editor/macro_expansion.gif"/>
</p>

  <h3>Doc comments highlighting</h3>
<p>Code block inside Doc comments are treated as valid Rust code: you get full code insight including syntax highlighting, completion, and intentions.</p>
<p>
  <img src="/assets/features/smart_editor/doc_comments_hl.png" width="600">
</p>


  <h3>Code style and formatting</h3>

<p>IntelliJ Rust helps your code stay compliant with style guidelines and naming conventions. You can configure every detail of the preferred style, and adjust the inspections that validate your code against Rust naming conventions.</p>

<p>To explicitly reformat your code, you can use the built-in action (<code>Code | Reformat</code> or <code>Ctrl+Alt+L / ⌥⌘L</code>) or call <a href="https://github.com/rust-lang/rustfmt">rustfmt</a> (<code>Code | Reformat Cargo Project with Rustfmt</code> or using the special button in the Cargo tool window).</p>



  <h2 id="completion">Code completion</h2>


  <h2 id="codegen">Code generation</h2>


  <h2 id="navigation">Navigation and search</h2>


  <h2 id="analysis">Code analysis</h2>

  <h2 id="cargo">Cargo support</h2>

  <h2 id="testing">Testing</h2>

  <h2 id="debug">Debug and Dynamic Analysis (CLion)</h2>

  <h2 id="coverage">Code coverage</h2>





  <h2>Smart editor</h2>

  {% include feature-pic.html i="feature-editor" %}

  <div class="feature">
    <h3>Syntax highlighting</h3>

    <p>IntelliJ Rust, apart from basic lexer highlighting, also highlights resolved types, functions, variables (marking
      out mutable ones) and macros. All color schemes are customizable and we support both <i>Default</i> and
      <i>Darcula</i> themes out of the box.</p>
  </div>

  <div class="feature">
    <h3>Code formatter</h3>

    <p><b>Reformat Code</b> <kbd>Ctrl+Alt+L</kbd> reformats current file or selection using our custom, fully functional
      formatter based on IntelliJ's formatting engine. There's also a special action
      for formatting code with rustfmt.
  </div>

  <div class="feature">
    <h3>Code selection</h3>

    <p>To select a block of code place a cursor inside block and press <kbd>Ctrl+W</kbd> to expand it to an expression,
      to a line, to a logical block of code, and so on. To shrink selection press <kbd>Ctrl+Shift+W</kbd> as many
      times as needed.</p>
  </div>

  <div class="feature">
    <h3>Code commenting</h3>

    <p>After selecting a block, you can apply a block comment (<kbd>Ctrl+Shift+/</kbd>) or line comment
      (<kbd>Ctrl+/</kbd>) to it. The same shortcuts will remove existing comments from selected lines too.</p>
  </div>

  <div class="feature">
    <h3>Code folding</h3>

    <p>Code folding, auto-insertion of braces, brackets &amp; quotes, matching brace/bracket highlighting, etc.</p>
  </div>

  <div class="feature">
    <h3>On-the-fly analysis<abbr class="wip" title="Work In Progress">WIP</abbr></h3>

    <p>Errors are shown as you type. Among others, we catch syntax errors, missing fields/methods and unnecessary
      parens. We also support IntelliJ's built-in spell-checker.</p>
  </div>
</div>


<div class="feature-group">
  <h2>Code Completion<abbr class="wip" title="Work In Progress">WIP</abbr></h2>

  {% include feature-pic.html i="feature-completion" %}

  <div class="feature feature-major">
    <p>
      IntelliJ Rust features built from scratch code completion, leveraging IntelliJ Platform capabilities.
      <kbd>Ctrl+Space</kbd> invokes completion. We <a href="/docs/faq.html#racer">do not</a> plan
      to use <code>racer</code>. Most of the code completion is implemented, but support
      for macros is a work in progress.

    <p>Remember, if the smart completion does not work for your particular case, you can always invoke "dumb completion"
      via <kbd>Alt+/</kbd>. It merely suggests identifiers already present in the file, but works surprisingly well.</p>
  </div>
</div>


<div class="feature-group">
  <h2>Source code navigation</h2>

  {% include feature-pic.html i="feature-navigation" %}

  <p>There are a number of actions for efficient navigation across your project and dependencies.</p>

  <div class="feature">
    <h3>Find Usages<abbr class="wip" title="Work In Progress">WIP</abbr></h3>
    <p><kbd>Alt+F7</kbd> finds usages of element at caret.</p>
  </div>

  <div class="feature">
    <h3>Goto Declaration</h3>
    <p><kbd>Ctrl+B</kbd> goes to the definition of the symbol at caret.</p>
  </div>

  <div class="feature">
    <h3>Goto Class</h3>
    <p><kbd>Ctrl+N</kbd> search for a struct or enum by name.</p>
  </div>

  <div class="feature">
    <h3>Goto Symbol</h3>
    <p><kbd>Ctrl+Shift+Alt+N</kbd> searches for any symbol (types, methods, functions, fields) by name. Together with
      <kbd>Ctrl+N</kbd> it is the main method to explore large projects.</p>
  </div>

  <div class="feature">
    <h3>Goto Super</h3>
    <p><kbd>Ctrl+U</kbd> navigates to the parent module.</p>
  </div>

  <div class="feature">
    <h3>File Structure</h3>
    <p><kbd>Ctrl+F12</kbd>, <kbd>Alt+7</kbd> brings up an overview of the current file.</p>
  </div>

  <div class="feature side-pic">
    {% include feature-pic.html i="feature-nav-to-impl"%}
  </div>

  <div class="feature">
    <h3>Implementations</h3>
    <p>
      Gutter icon or <kbd>Ctrl+Alt+B</kbd> shortcut can be used to navigate between traits or types and impls.
    </p>
  </div>
</div>


<div class="feature-group">
  <h2>Code generation and refactorings</h2>

  <div class="feature feature-major">
    <h3>'Surround With' and Live Templates</h3>

    <p>There is a number of built in live templates and you can define your own. Different live templates are available
      in different contexts. Use <kbd>Ctrl+J</kbd> to list templates available in context.</p>

    <ul class="with-side-pic">
      <li>
        {% include feature-gfy.html n="UnrulyMajorElephantseal" %}
        <p><kbd>p</kbd>, <kbd>pd</kbd>, <kbd>ppd</kbd> - <code>println!</code> value with <code>{}</code>, debug
          <code>{:?}</code> and pretty debug <code>{:#?}</code> formats.</p>
      </li>

      <li>
        {% include feature-gfy.html n="PlushOddballBoilweevil" %}
        <p><kbd>a</kbd>, <kbd>ae</kbd> - <code>assert!</code> / <code>assert_eq!</code></p>
      </li>

      <li>
        {% include feature-gfy.html n="ShyThatAmericanquarterhorse" %}
        <div class="p">
          <p><kbd>tfn</kbd> - test function boilerplate</p>
          <p><kbd>tmod</kbd> - test module boilerplate</p>
        </div>
      </li>

      <li>
        {% include feature-gfy.html n="GlamorousUnacceptableHowlermonkey" %}
        <p><kbd>f</kbd>, <kbd>pf</kbd> - (<code>pub</code>) field name and type, applicable inside struct
          definitions.</p>
      </li>

      <li>
        {% include feature-gfy.html n="WelldocumentedUnsteadyCougar" %}
        <p><kbd>loop</kbd>, <kbd>while</kbd>, <kbd>for</kbd> templates. You can select a fragment of code and press
          <kbd>Ctrl+Alt+J</kbd> to invoke <b>Surround With Live Template</b> action.</p>
      </li>
    </ul>
  </div>

  <div class="feature feature-major">
    <h3>Refactorings<abbr class="wip" title="Work In Progress">WIP</abbr></h3>

    <div class="feature-group grid">
      <div class="feature">
        <p><b>Expand module</b>: invoke this refactoring inside <code>foo.rs</code> file to get
          <code>foo/mod.rs</code>. Also available as a quick fix for unresolved module declaration.</p>
      </div>

      <div class="feature">
        <p><b>Introduce variable</b>: use <kbd>Ctrl+Alt+V</kbd> or <code>.let</code> postfix template to extract a variable from an expression.</p>
      </div>
    </div>
  </div>

  <div class="feature feature-major">
    <h3>Intentions</h3>

    <p>Intentions and quick fixes are micro refactorings automatically available depending on the context. If some
      intentions are available, a light bulb icon appears in the editor. You can use <kbd>Alt+Enter</kbd> to invoke a
      quick fix.</p>

    <div class="feature-group grid">
      <div class="feature">
        {% include feature-gfy.html n="PessimisticFlashyAustraliancurlew" %}
        <p><b>Contract module</b>: the opposite of <i>Expand Module</i> refactoring. Available only if there are no
          child modules.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="HauntingAgonizingDuck" %}
        <p><b>Create module file</b>: if you have <code>mod foo;</code>, but no <code>foo.rs</code>
          this quick fix will create the missing file.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="BleakWholeGalapagospenguin" %}
        <p><b>Extract inline module</b>: move <code>mod foo { ... }</code> to a separate file.</p>
      </div>

      <div class="feature" id="add-derive">
        {% include feature-gfy.html n="ChubbyAcrobaticBrahmanbull" %}
        <p><b>Add derive clause</b>: adds <code>#[derive(..)]</code> attribute to structs and enums.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="CluelessGiddyBullfrog" %}
        <p><b>Remove/Add curly braces</b>: toggles between <code>use foo::{bar}</code> and
          <code>use foo::bar</code>.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="ImperfectFreeGecko" %}
        <p><b>Add missing fields</b>: a handy way to fill out the struct literal template.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="GlisteningCostlyAntarcticfurseal" %}
        <p><b>Implement methods</b>: quickly scafold an impl.</p>
      </div>
    </div>

  </div>
</div>


<div class="feature-group">
  <h2>Documentation</h2>
  {% include feature-pic.html i="feature-doc" %}

  <div class="feature half">
    <h3>Highlighting</h3>
    <p>IntelliJ Rust highlights important parts of documentation comments, so they never look so bland.</p>
  </div>

  <div class="feature half">
    <h3>Quick documentation</h3>
    <p><kbd>Ctrl+Q</kbd> shows docs for the symbol at caret.</p>
  </div>
</div>

<div class="feature-group">
  <h2>Reading code</h2>
  {% include feature-pic.html i="feature-reading" %}

  <div class="feature half">
    <h3>Quick documentation</h3>
    <p><kbd>Ctrl+Q</kbd> shows docs for the symbol at caret.</p>
  </div>

  <div class="feature half">
    <h3>Documentation highlighting</h3>
    <p>IntelliJ Rust highlights important parts of documentation comments, so they never look so bland.</p>
  </div>

  <div class="feature half">
    <h3>Parameter hints</h3>
    <p>In the editor, you can see hints with names of parameters and types of local variables</p>
  </div>

  <div class="feature half">
    <h3>Type information</h3>
    <p>Use <kbd>Ctrl+Shift+P</kbd> to view the type of selected expression.</p>
  </div>


</div>


<div class="feature-group side-pic-showcase">
  <h2>Running</h2>

  <div class="feature side-pic">
    {% include feature-pic.html i="feature-runconfig" %}
  </div>

  <div class="feature">
    <h3>Configurations</h3>

    <p>Built-in <code>Cargo Command</code> run configuration allows to build,
      test and run Rust code.
    </p>

  </div>


  <div class="feature side-pic">
    {% include feature-gfy.html n="FinePopularGreathornedowl" %}
  </div>

  <div class="feature">
    <h3>Context aware</h3>

    You can use <kbd>Ctrl+Shift+F10</kbd> shortcut to run a <code>main</code> or a <code>test</code> function.
    Alternatively, you can use the icon in the gutter area.
  </div>


  <div class="feature side-pic">
    {% include feature-gfy.html n="VelvetySerpentineCowbird" %}
  </div>

  <div class="feature">
    <h3>Synergy</h3>

    You can combine <kbd>Ctrl+Alt+Shift+N</kbd> with <kbd>Ctrl+Shift+F10</kbd> to
    find and execute a test without switching between code and tests.
  </div>
</div>
