---
layout: page
title: Features
permalink: /features/
class: features-page
---

{% include doc-shortcut-tip.html %}


<div class="feature-group">
  <h2>Smart editor</h2>

  {% include feature-pic.html i="feature-editor" %}

  <div class="feature">
    <h3>Syntax highlighting</h3>

    <p>IntelliJ-Rust, apart from basic lexer highlighting, also highlights resolved types, functions, variables (marking
      out mutable ones) and macros. All color schemes are customizable and we support both <i>Default</i> and
      <i>Darcula</i> themes out of the box.</p>
  </div>

  <div class="feature">
    <h3>Code formatter</h3>

    <p><b>Reformat Code</b> <kbd>Ctrl+Alt+L</kbd> reformats current file or selection using our custom, fully functional
      formatter based on IntelliJ's formatting engine, though rustfmt support is
      <abbr class="wip" title="Work In Progress">WIP</abbr>. You can use a <code>Run Configuration</code> to invoke
      <code>rustfmt</code>.</p>
  </div>

  <div class="feature">
    <h3>Code selection</h3>

    <p>To select a block of code place a cursor inside block and press <kbd>Ctrl+W</kbd> to expand it to an expression,
      to a line, to a logical block of code, and so on. To shrink selection press <kbd>Ctrl+Shift+W</kbd> as many
      times as needed.</p>
  </div>

  <div class="feature">
    <h3>Code commenting</h3>

    <p>After selecting block, you can apply a block comment (<kbd>Ctrl+Shift+/</kbd>) or line comment
      (<kbd>Ctrl+/</kbd>) to it. The same shortcuts will remove existing comments from selected lines too.</p>
  </div>

  <div class="feature">
    <h3>Code folding</h3>

    <p>Code folding, auto-insertion of braces, brackets & quotes, matching brace/bracket highlighting, etc.</p>
  </div>

  <div class="feature">
    <h3>On-the-fly analysis<abbr class="wip" title="Work In Progress">WIP</abbr></h3>

    <p>Errors are shown as you type. Among others, we catch syntax errors, missing fields/methods and unnecessary
      parens. We also support IntelliJ's built-in spell-checker.</p>
  </div>
</div>


<div class="feature-group">
  <h2>Code Completion<abbr class="wip" title="Work In Progress">WIP</abbr></h2>

  {% include feature-pic.html i="feature-completion" %}

  <div class="feature feature-major">
    <p>
      IntelliJ-Rust features built from scratch code completion, leveraging IntelliJ Platform capabilities.
      <kbd>Ctrl+Space</kbd> invokes completion. We <a href="/docs/faq.html#racer">do not</a> plan
      to use <code>racer</code>. A decent amount of completion intelligence is already implemented, but there is
      definitely a lot more to do. Here are some examples of what works and what does not work (as of <b>August 1</b>).
    </p>

    {% include feature-pic.html i="feature-completion-state-of-the-art" %}

    <p>Remember, if the smart completion does not work for your particular case, you can always invoke "dumb completion"
      via <kbd>Alt+/</kbd>. It merely suggests identifiers already present in the file, but works surprisingly well.</p>
  </div>
</div>


<div class="feature-group">
  <h2>Source code navigation</h2>

  {% include feature-pic.html i="feature-navigation" %}

  <p>There are a number of actions for efficient navigation across your project and dependencies.</p>

  <div class="feature">
    <h3>Find Usages<abbr class="wip" title="Work In Progress">WIP</abbr></h3>
    <p><kbd>Alt+F7</kbd> finds usages of element at caret.</p>
  </div>

  <div class="feature">
    <h3>Goto Declaration</h3>
    <p><kbd>Ctrl+B</kbd> goes to the definition of the symbol at caret.</p>
  </div>

  <div class="feature">
    <h3>Goto Class</h3>
    <p><kbd>Ctrl+N</kbd> search for a struct or enum by name.</p>
  </div>

  <div class="feature">
    <h3>Goto Symbol</h3>
    <p><kbd>Ctrl+Shift+Alt+N</kbd> searches for any symbol (types, methods, functions, fields) by name. Together with
      <kbd>Ctrl+N</kbd> it is the main method to explore large projects.</p>
  </div>

  <div class="feature">
    <h3>Goto Super</h3>
    <p><kbd>Ctrl+U</kbd> navigates to the parent module.</p>
  </div>

  <div class="feature">
    <h3>File Structure</h3>
    <p><kbd>Ctrl+F12</kbd>, <kbd>Alt+7</kbd> brings up an overview of the current file.</p>
  </div>
</div>


<div class="feature-group">
  <h2>Code generation and refactorings</h2>

  <div class="feature feature-major">
    <h3>'Surround With' and Live Templates</h3>

    <p>There is a number of built in live templates and you can define your own. Different live templates are available
      in different contexts. Use <kbd>Ctrl+J</kbd> to list templates available in context.</p>

    <ul class="with-side-pic">
      <li>
        {% include feature-gfy.html n="UnrulyMajorElephantseal" %}
        <p><kbd>p</kbd>, <kbd>pd</kbd>, <kbd>ppd</kbd> - <code>println!</code> value with <code>{}</code>, debug
          <code>{:?}</code> and pretty debug <code>{:#?}</code> formats.</p>
      </li>

      <li>
        {% include feature-gfy.html n="PlushOddballBoilweevil" %}
        <p><kbd>a</kbd>, <kbd>ae</kbd> - <code>assert!</code> / <code>assert_eq!</code></p>
      </li>

      <li>
        {% include feature-gfy.html n="ShyThatAmericanquarterhorse" %}
        <div class="p">
          <p><kbd>tfn</kbd> - test function boilerplate</p>
          <p><kbd>tmod</kbd> - test module boilerplate</p>
        </div>
      </li>

      <li>
        {% include feature-gfy.html n="GlamorousUnacceptableHowlermonkey" %}
        <p><kbd>f</kbd>, <kbd>pf</kbd> - (<code>pub</code>) field name and type, applicable inside struct
          definitions.</p>
      </li>

      <li>
        {% include feature-gfy.html n="WelldocumentedUnsteadyCougar" %}
        <p><kbd>loop</kbd>, <kbd>while</kbd>, <kbd>for</kbd> templates. You can select a fragment of code and press
          <kbd>Ctrl+Alt+J</kbd> to invoke <b>Surround With Live Template</b> action.</p>
      </li>
    </ul>
  </div>

  <div class="feature feature-major">
    <h3>Refactorings<abbr class="wip" title="Work In Progress">WIP</abbr></h3>

    <div class="feature-group grid">
      <div class="feature">
        <p><b>Expand module</b>: invoke this refactoring inside <code>foo.rs</code> file to get
          <code>foo/mod.rs</code>. Also available as a quick fix for unresolved module declaration.</p>
      </div>
    </div>
  </div>

  <div class="feature feature-major">
    <h3>Intentions</h3>

    <p>Intentions and quick fixes are micro refactorings automatically available depending on context. If some
      intentions are available, a light bulb icon appears in the editor. You can use <kbd>Alt+Enter</kbd> to invoke a
      quick fix.</p>

    <div class="feature-group grid">
      <div class="feature">
        {% include feature-gfy.html n="PessimisticFlashyAustraliancurlew" %}
        <p><b>Contract module</b>: the opposite of <i>Expand Module</i> refactoring. Available only if there are no
          child modules.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="HauntingAgonizingDuck" %}
        <p><b>Create module file</b>: if you have <code>mod foo;</code>, but no <code>foo.rs</code>
          this quick fix will create the missing file.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="BleakWholeGalapagospenguin" %}
        <p><b>Extract inline module</b>: move <code>mod foo { ... }</code> to a separate file.</p>
      </div>

      <div class="feature" id="add-derive">
        {% include feature-gfy.html n="ChubbyAcrobaticBrahmanbull" %}
        <p><b>Add derive clause</b>: adds <code>#[derive(..)]</code> attribute to structs and enums.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="CluelessGiddyBullfrog" %}
        <p><b>Remove/Add curly braces</b>: toggles between <code>use foo::{bar}</code> and
          <code>use foo::bar</code>.</p>
      </div>

      <div class="feature">
        {% include feature-gfy.html n="ImperfectFreeGecko" %}
        <p><b>Add missing fields</b>: a handy way to fill out the struct literal template.</p>
      </div>
    </div>

  </div>
</div>


<div class="feature-group">
  <h2>Documentation</h2>
  {% include feature-pic.html i="feature-doc" %}

  <div class="feature half">
    <h3>Highlighting</h3>
    <p>IntelliJ-Rust highlights important parts of documentation comments, so they never look so bland.</p>
  </div>

  <div class="feature half">
    <h3>Quick documentation</h3>
    <p><kbd>Ctrl+Q</kbd> shows docs for the symbol at caret.</p>
  </div>
</div>


<div class="feature-group">
  <h2>Running</h2>

  <div class="feature side-pic">
    {% include feature-pic.html i="feature-runconfig" %}
  </div>

  <div class="feature">
    <h3>Configurations</h3>

    <p>Built-in <code>Cargo Command</code> run configuration, automatically created with <kbd>Ctrl+Shift+F10</kbd> in
      following contexts:</p>

    <ul>
      <li>In the file with a <code>main</code> function to execute the corresponding binary target with <code>cargo
        run</code>.
      </li>

      <li>Inside a <code>#[test]</code> function to execute a single test.</li>

      <li>Inside a module to run all containing tests.</li>
    </ul>
  </div>
</div>
