<!--div class="doc-tip">
  <strong>Bold text</strong> denotes the names of actions you can type in the <strong>Find Action</strong>
  dialog (<kbd>Ctrl+Shift+A</kbd> or quickly press <kbd>Shift</kbd> twice for
  <strong>Find Anything</strong>). Shortcuts are given for the default Windows/Linux keymap.
  To learn shortcuts for your keymap consult <code>Help &gt; Keymap reference</code>. Shortcut
  for an action is also displayed in the <strong>Find Action</strong> dialog.
</div-->

<div class="doc-tip">
  <p><strong>IntelliJ Rust</strong> features cover the entire cycle of your IDE experience. The plugin is being actively developed, and new pieces of functionality come with <a href="https://intellij-rust.github.io/thisweek/">each release</a>. The list below is only a subset of what you can expect to get with IntelliJ Rust in your IDE.</p>
  <p>For easier navigation, features are grouped by category, starting from the basic IntelliSense, all the way through to dynamic code analysis. Shortcuts are given in the <code>Windows or Linux / macOS</code> format.</p>
</div>



