<div class="doc-tip">
  <p><strong>IntelliJ Rust</strong> features cover the entire cycle of your IDE experience. The plugin is being actively developed, and new pieces of functionality come with <a href="https://intellij-rust.github.io/thisweek/">each release</a>. The list below is only a subset of what you can expect to get with IntelliJ Rust in your IDE.</p>
  <p>For easier navigation, features are grouped by category, starting from the basic IntelliSense, all the way through to dynamic code analysis. Shortcuts are given in the <code>Windows or Linux / macOS</code> format.</p>
</div>
