/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.center {
    text-align: center;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-font-weight;
    text-transform: uppercase;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover, &:focus {
        color: $text-color;
        text-decoration: underline;
    }

    &[class^="icon-"]:hover, &[class*=" icon-"]:hover {
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-lighter;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre, code, kbd {
    font-family: "Consolas", "Menlo", "DejaVu Sans Mono", "Courier New", monospace;
    border-radius: 3px;
}

pre, code {
    border: 1px solid $grey-color-light;
    background-color: #eef;
}

code, kbd {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    font-size: 0.8em;
    white-space: nowrap;
}

code {
    padding: 1px 5px;
}

kbd {
    padding: 2px 6px 3px;
    background: $background-color;
    color: $grey-color-darker;
    border: 1px solid $grey-color-dark;
    line-height: 1em;
    box-shadow: 0 2px 0 -1px #fff, 0 2px 0 $grey-color;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        white-space: pre-wrap;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: $content-width - $spacing-unit * 2;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: $content-width - $spacing-unit;
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

@mixin thin-wrapper {
    .wrapper {
        max-width: $thin-content-width - $spacing-unit * 2;

        @include media-query($on-laptop) {
            max-width: $thin-content-width - $spacing-unit;
        }
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Misc
 */
.wip {
    color: $brand-color;
    vertical-align: super;
    font-size: 0.5em;
    font-weight: $base-font-weight;
}
