body.home {
    padding-top: 0;
}

/**
 * Home page jumbotron
 */
.jumbo {
    background: #fff url('beam.svg') center center no-repeat;
    background-size: cover;
    padding-top: $spacing-unit * 4 + $header-height;
    padding-bottom: $spacing-unit * 4;

    font-size: 1.75em;
    text-align: center;
    color: transparentize(#000, 0.08);

    h1 {
        font-family: $title-font-family;
        font-weight: $title-font-weight;
        text-transform: none;
        font-size: 2.5em;
        line-height: 0.5;
    }

    .desc {
        margin: 0;
    }

    .preview-note {
        font-size: 0.45em;
        color: transparentize(#000, 0.25);
    }

    @include media-query($on-palm) {
        font-size: 1.25em;
        padding-top: $spacing-unit * 2 + $header-height;
        padding-bottom: $spacing-unit * 2;
    }
}

#download {
    margin-top: $spacing-unit * 1.5;

    font-size: 11pt;
    text-transform: uppercase;

    .download-stable, .download-gh, .download-nightly {
        transition: all 0.2s;

        &:hover {
            text-decoration: none;
        }
    }

    .download-stable {
        display: inline-block;
        margin-bottom: $spacing-unit / 3;

        font-weight: $header-font-weight;
        background: transparentize(#000, 0.5);
        padding: $spacing-unit/2 $spacing-unit;
        border-radius: $spacing-unit/2 + 14pt;

        &, &:visited {
            color: transparentize($background-color, 0.1);
        }

        &:hover {
            background-color: transparentize($grey-color-dark, 0.5);
        }
    }

    .download-gh, .download-nightly {
        font-size: 0.9em;

        &, &:visited {
            color: transparentize(#000, 0.3);
        }

        &:hover {
            color: #000;
        }
    }

    .sep {
        color: transparentize(#000, 0.65);
    }
}

/**
 * Features section
 */
.features {
    @extend .grey-pane;

    ul {
        list-style: none;
        margin-left: 0;
    }
}

.feature {
    color: $grey-color-dark;
}

.major-features {
    @include media-query-min($on-palm) {
        min-height: 740px;
    }
}

.major-feature {
    @extend .feature;

    @include media-query-min($on-palm) {
        max-width: 30%;
        margin-top: $spacing-unit * 2;
    }
}

@include media-query-min($on-palm) {
    .major-features {
        margin-bottom: $spacing-unit;
    }

    .showcase-pic {
        position: absolute;
        height: auto;
        overflow: hidden;

        img {
            max-width: none;
        }
    }

    .ir-completion {
        // wrapper padding + h1 bottom margin + h1 size + some nice margin
        margin-top: -($spacing-unit + $spacing-unit/2 + 32px*$base-line-height + 27px);
        left: calc(50% - #{$content-width * 0.1});
        width: calc(50% + #{$content-width * 0.1});
    }

    .ir-goto-symbol {
        margin-top: 70px;
        left: 50%;
    }
}

@include media-query($on-palm) {
    .showcase-pic {
        text-align: center;
        margin-bottom: $spacing-unit/2;
    }

    .major-feature {
        margin-bottom: $spacing-unit*2/3;
    }
}

.minor-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -$spacing-unit/3;
}

.minor-feature {
    @extend .feature;

    box-sizing: border-box;
    flex: 100%;
    max-width: 100%;
    padding: $spacing-unit/3;

    &.stack > .minor-feature {
        padding: 0;
    }
}

.minor-feature.col-1-3 {
    @include media-query-min($on-palm) {
        flex: 33.333%;
        max-width: 33.333%;
    }
}

.minor-feature.col-2-3 {
    @include media-query-min($on-palm) {
        flex: 66.667%;
        max-width: 66.667%;
    }
}

/**
 * This Week section
 */
.previous-editions-link {
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: $header-font-weight;
    transition: border-bottom-color 0.1s;
    border-bottom: 3px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: $brand-color;
    }
}
