body.home {
    padding-top: 0;
}

/**
 * Home page jumbotron
 */
.jumbo {
    background: #fff url('beam.svg') center center no-repeat;
    background-size: cover;
    padding-top: $spacing-unit * 4 + $header-height;
    padding-bottom: $spacing-unit * 4;

    font-size: 1.75em;
    text-align: center;
    color: transparentize(#000, 0.08);

    h1 {
        font-family: $title-font-family;
        font-weight: $title-font-weight;
        text-transform: none;
        font-size: 2.5em;
        line-height: 0.5;
    }

    .desc {
        margin: 0;
    }

    .preview-note {
        font-size: 0.45em;
        color: transparentize(#000, 0.25);
    }

    @include media-query($on-palm) {
        font-size: 1.25em;
        padding-top: $spacing-unit * 2 + $header-height;
        padding-bottom: $spacing-unit * 2;
    }
}

#download {
    margin-top: $spacing-unit * 1.5;
}

#download-stable, #download-gh {
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
        text-decoration: none;
    }
}

#download-stable {
    display: inline-block;

    font-size: 11pt;
    font-weight: $header-font-weight;
    background: transparentize(#000, 0.5);
    padding: $spacing-unit/2 $spacing-unit;
    border-radius: $spacing-unit/2 + 14pt;

    &, &:visited {
        color: transparentize($background-color, 0.1);
    }

    &:hover {
        background-color: transparentize($grey-color-dark, 0.5);
    }
}

#download-gh {
    font-size: 9pt;

    &, &:visited {
        color: transparentize(#000, 0.3);
    }

    &:hover {
        color: #000;
    }
}

#install-pane {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: (16px / 1.41421356237);
    z-index: 50;

    color: $grey-color-light;
    background: $grey-color-dark;
    border: 1px solid $text-color;

    font-size: 0.9rem;
    text-align: left;

    box-shadow: 0 2px 6px transparentize(#000, 0.4);

    display: none;

    &.visible {
        display: block;
    }

    h2 {
        display: block;
        background: lighten($grey-color-dark, 7.5%);
        padding: $spacing-unit/2 $spacing-unit;
    }

    p, pre {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
    }

    a {
        color: lighten($brand-color, 10%);

        &:visited {
            color: $brand-color;
        }

        &:hover {
            color: $grey-color-light;
        }
    }

    .highlight {
        border-color: lighten($grey-color-dark, 7.5%);

        &, & code {
            background-color: #3f3f3f;
        }

        .s {
            color: #cc9393;
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -(16px / 2) - 1px;
        left: calc(50% - #{16px / 2});
        width: 16px;
        height: 16px;
        background: lighten($grey-color-dark, 7.5%);
        border-top: 1px solid $text-color;
        border-right: 1px solid $text-color;
        transform: rotate(-45deg);
    }

    @include media-query($on-laptop) {
        border-left: none;
        border-right: none;
    }

    @include media-query-min($on-laptop) {
        left: calc(50% - #{$content-width/2});
        right: auto;
        width: $content-width;
        border-radius: 3px;

        h2 {
            &:first-of-type {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }
    }
}

#install-pane-close {
    position: absolute;
    top: 6px;
    right: 10px;

    font-size: 1.3em;
    font-weight: 700;
    line-height: 1;

    &, &:visited {
        color: $text-color !important;
    }

    &:hover {
        color: $grey-color-light !important;
        text-decoration: none;
    }
}

/**
 * Features section
 */
.features {
    @extend .grey-pane;

    ul {
        list-style: none;
        margin-left: 0;
    }
}

.feature {
    color: $grey-color-dark;
}

.major-features {
    @include media-query-min($on-palm) {
        min-height: 740px;
    }
}

.major-feature {
    @extend .feature;

    @include media-query-min($on-palm) {
        max-width: 30%;
        margin-top: $spacing-unit * 2;
    }
}

@include media-query-min($on-palm) {
    .major-features {
        margin-bottom: $spacing-unit;
    }

    .showcase-pic {
        position: absolute;
        height: auto;
        overflow: hidden;

        img {
            max-width: none;
        }
    }

    .ir-completion {
        // wrapper padding + h1 bottom margin + h1 size + some nice margin
        margin-top: -($spacing-unit + $spacing-unit/2 + 32px*$base-line-height + 27px);
        left: calc(50% - #{$content-width * 0.1});
        width: calc(50% + #{$content-width * 0.1});
    }

    .ir-goto-symbol {
        margin-top: 70px;
        left: 50%;
    }
}

@include media-query($on-palm) {
    .showcase-pic {
        text-align: center;
        margin-bottom: $spacing-unit/2;
    }

    .major-feature {
        margin-bottom: $spacing-unit*2/3;
    }
}

.minor-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -$spacing-unit/3;
}

.minor-feature {
    @extend .feature;

    box-sizing: border-box;
    flex: 100%;
    max-width: 100%;
    padding: $spacing-unit/3;

    &.stack > .minor-feature {
        padding: 0;
    }
}

.minor-feature.col-1-3 {
    @include media-query-min($on-palm) {
        flex: 33.333%;
        max-width: 33.333%;
    }
}

.minor-feature.col-2-3 {
    @include media-query-min($on-palm) {
        flex: 66.667%;
        max-width: 66.667%;
    }
}

/**
 * This Week section
 */
.previous-editions-link {
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: $header-font-weight;
    transition: border-bottom-color 0.1s;
    border-bottom: 3px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: $brand-color;
    }
}
