body.home {
    padding-top: 0;
}

h1.square {
    margin: -($square-size / 2 + $spacing-unit*3) 0 $spacing-unit;

    display: flex;
    align-items: flex-end;
    width: $square-size;
    height: $square-size;
    padding: 12px;
    box-sizing: border-box;

    font-size: 12px;
    background: $text-color;
    color: $background-color;

    @include media-query($on-palm) {
        margin-top: -($square-size-mobile / 2 + $spacing-unit*3);
        width: $square-size-mobile;
        height: $square-size-mobile;
        padding: 8px;

        font-size: 10px;
    }
}

.fancy-link {
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: $header-font-weight;
    transition: border-bottom-color 0.1s;
    border-bottom: 3px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: $brand-color;
    }
}

/**
 * Home page jumbotron
 */
.jumbo {
    background: #fff url('beam.svg') center center no-repeat;
    background-size: cover;
    padding-top: $spacing-unit * 4 + $header-height;
    padding-bottom: $spacing-unit * 4;

    font-size: 1.75em;
    text-align: center;
    color: transparentize(#000, 0.08);

    h1 {
        font-family: $title-font-family;
        font-weight: $title-font-weight;
        text-transform: none;
        font-size: 2.5em;
        line-height: 0.5;
    }

    .desc {
        margin: 0;
    }

    .preview-note {
        font-size: 0.45em;
        color: transparentize(#000, 0.25);
    }

    @include media-query($on-palm) {
        font-size: 1.25em;
        padding-top: $spacing-unit * 2 + $header-height;
        padding-bottom: $spacing-unit * 2;
    }
}

#download {
    margin-top: $spacing-unit * 1.5;
}

#download-stable, #download-gh {
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
        text-decoration: none;
    }
}

#download-stable {
    $height: 48px;

    display: inline-block;
    line-height: $height;
    height: $height;

    font-size: 11pt;
    font-weight: $header-font-weight;
    background: transparentize(#000, 0.5);
    padding: 0 $spacing-unit;
    border-radius: $height/2;

    &, &:visited {
        color: transparentize($background-color, 0.1);
    }

    &:hover {
        background-color: transparentize($grey-color-dark, 0.5);
    }
}

#download-gh {
    font-size: 9pt;

    &, &:visited {
        color: transparentize(#000, 0.3);
    }

    &:hover {
        color: #000;
    }
}

#install-pane {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;

    color: $grey-color-light;
    background: $grey-color-dark;
    border: 1px solid $text-color;

    font-size: 0.9rem;
    text-align: left;

    box-shadow: 0 2px 6px transparentize(#000, 0.4);

    transition: all .2s ease-out;

    visibility: hidden;
    opacity: 0;

    &.visible {
        visibility: visible;
        opacity: 1;
        margin-top: (16px / 1.41421356237);
    }

    h2 {
        display: block;
        background: lighten($grey-color-dark, 7.5%);
        padding: $spacing-unit/2 $spacing-unit;
    }

    p, pre {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
    }

    a {
        color: lighten($brand-color, 10%);

        &:visited {
            color: $brand-color;
        }

        &:hover {
            color: $grey-color-light;
        }
    }

    pre, code {
        border-color: lighten($grey-color-dark, 7.5%);

        &, & code {
            background-color: #3f3f3f;
        }

        .s {
            color: #cc9393;
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -(16px / 2) - 1px;
        left: calc(50% - #{16px / 2});
        width: 16px;
        height: 16px;
        background: lighten($grey-color-dark, 7.5%);
        border-top: 1px solid $text-color;
        border-right: 1px solid $text-color;
        transform: rotate(-45deg);
    }

    @include media-query($on-laptop) {
        border-left: none;
        border-right: none;
    }

    @include media-query-min($on-laptop) {
        left: calc(50% - #{$content-width/2});
        right: auto;
        width: $content-width;
        border-radius: 3px;

        h2 {
            &:first-of-type {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }
    }
}

#install-pane-close {
    position: absolute;
    top: 6px;
    right: 10px;

    font-size: 1.3em;
    font-weight: 700;
    line-height: 1;

    &, &:visited {
        color: $text-color !important;
    }

    &:hover {
        color: $grey-color-light !important;
        text-decoration: none;
    }
}

/**
 * What is... section
 */
.showcase {
    @extend .grey-pane;

    padding: $spacing-unit*3 0;

    section {
        margin-bottom: $spacing-unit;

        @include media-query-min($on-palm) {
            max-width: $content-width/4;
        }
    }

    ul.fancy-link-row {
        list-style: none;
        margin-left: 0;

        @include media-query-min($on-palm) {
            li {
                display: inline-block;
                margin-right: $spacing-unit;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

.showcase-pic {
    @include media-query($on-palm) {
        text-align: center;
        margin-bottom: $spacing-unit/2;

        img {
            margin-bottom: $spacing-unit/2;
        }
    }

    @include media-query-min($on-palm) {
        position: absolute;
        height: auto;
        overflow: hidden;

        // h1 margin + half h1 size + shadow + nice margin
        margin-top: -($spacing-unit + $square-size/2 + 13px + 27px);
        left: calc(50% - #{$content-width * 0.1});
        width: calc(50% + #{$content-width * 0.1});

        box-sizing: border-box;
        padding: 13px 0 0 13px;

        img {
            position: relative;
            display: block;
            max-width: none;
            margin-bottom: $spacing-unit;

            box-shadow: 0 2px 12px transparentize($text-color, 0.4);
        }

        .intention {
            left: 128px;
        }
    }
}

/**
 * This Week section
 */
.whatsnew {
    padding: $spacing-unit*3 0 $spacing-unit;

    @include media-query-min($on-palm) {
        background: url("./beam2.svg") top right no-repeat;
    }
}
