body {
    padding-top: $header-height;
}

.grey-pane {
    color: $grey-color-dark;
    background: $grey-color-lighter;

    h1 {
        color: $text-color;
    }

    h2, h3, h4, h5, h6 {
        color: $grey-color-darker;
    }
}

/**
 * Site header
 */
.site-header {
    border-top: $header-border-top-height solid $text-color;
    border-bottom: $header-border-bottom-height solid $grey-color-light;
    background: $background-color;
    min-height: $header-height;

    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.site-title {
    font-family: $title-font-family;
    font-size: 26px;
    font-weight: $title-font-weight;
    line-height: $header-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &, &:visited {
        color: $title-color;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: $header-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-lighter;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            font-size: 26px;
            line-height: 0.6;
            padding-top: 10px;
            text-align: center;

            &, &:visited, &:hover {
                color: $grey-color-darker;
                text-decoration: none;
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    background: $background-color;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-family: $title-font-family;
    font-size: 18px;
    font-weight: $title-font-weight;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-2 {
    float: right;

    a {
        margin-left: 6px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}
