body.thisweek-listing {
    h1, .post-content {
        text-align: center;
    }
}

/**
 * Post listing
 */
.post-list {
    width: 100%;
    max-width: $thin-content-width;
    margin: 0 auto;
    text-align: left;

    time {
        color: $grey-color;
        font-family: "Fira Mono", monospace;
        font-size: 20px;
        text-transform: uppercase;
    }

    h2 {
        text-align: right;
        margin: 0;
        font-size: 20px;
    }

    @include media-query($on-palm) {
        td {
            display: block;
        }

        tr {
            display: block;
            margin-bottom: $spacing-unit;
        }

        h2 {
            text-align: left;
        }
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
