---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,800';
@import 'https://fonts.googleapis.com/css?family=Montserrat:700&text=IntelliJRust';
@import '/assets/gifplayer/gifplayer.css';

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$bold-font-weight: 800;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$title-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$title-font-weight: 700;
$title-color:       lighten(#000, 15%);

$spacing-unit:     30px;

$text-color:       #161616;
$background-color: #fff;
$brand-color:      #ee6408;

$grey-color:         #828282;
$grey-color-lighter: #eaeaeb;
$grey-color-light:   #cccbcb;
$grey-color-dark:    #7d8186;
$grey-color-darker:  #3B3E43;

$header-height: 56px;
$square-size: 120px;
$square-size-mobile: 96px;

// Width of the content area
$content-width:    1024px;
$thin-content-width: 800px;

$on-palm:          800px;
$on-laptop:        1024px;

// Icon font
$icomoon-font-path: "." !default;

$icon-twitter: "\ea96";
$icon-three-bars: "\e902";
$icon-github: "\e900";
$icon-fork: "\e901";
$icon-rss: "\ea9b";



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-min($device) {
    @media screen and (min-width: $device+1) {
        @content;
    }
}

@mixin media-query-between($device-min, $device-max) {
    @media screen and (min-width: $device-min+1) and (max-width: $device-max) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "font",
        "base",
        "layout",
        "home",
        "thisweek",
        "features",
        "docs",
        "syntax-highlighting"
;
