---
layout: base
---
<div class="page-content">
  <div class="wrapper">
    <nav class="doc-nav">
      <!--ul>
        <li><a href="#editor_syntax">Syntax Highlighting</a>
        <li><a href="#editor_qdoc">Quick Doc and Quick Definition</a>
        <li><a href="#editor_hints">Hints and Type Information</a>
        <li><a href="#editor_macro">Macro Expansion Popup</a>
        <li><a href="#editor_completion">Code Completion</a>
        <li><a href="#editor_doccomments">Doc Comments Highlighting</a>
        <li><a href="#editor_fomratting">Code Style and Formatting</a>
        <li><a href="#intentions">Intentions and Quick-fixes</a>
        <li><a href="#livetemplates">Live Templates and Code Generation</a>
        <li><a href="#refactoring">Refactorings</a>
        <li><a href="#navigation">Navigation and Search</a>
        <li><a href="#analysis">Code Analysis</a>
        <li><a href="#cargo_support">Cargo Support</a>
        <li><a href="#testing">Testing</a>
        <li><a href="#debug">Debug (CLion)</a>
        <li><a href="#dyn_analysis">Dynamic Analysis (CLion)</a>
        <li><a href="#coverage">Code coverage</a>
      </ul-->


      <ul> <!-- rearranged TOC, tbd in the content -->
        <li><a href="#editor_syntax">Syntax Highlighting</a>
        <li><a href="#editor_completion">Code Completion</a>
        <li><a href="#editor_macro">Macro Expansion Popup</a>
        <li><a href="#editor_hints">Hints and Type Information</a>
        <li><a href="#editor_qdoc">Quick Doc and Quick Definition</a>
        <li><a href="#editor_doccomments">Doc Comments Highlighting</a>
        <li><a href="#navigation">Navigation and Search</a>
        <li><a href="#refactoring">Refactorings</a>
        <li><a href="#livetemplates">Live Templates and Code Generation</a>
        <li><a href="#editor_fomratting">Code Style and Formatting</a>
        <li><a href="#intentions">Intentions and Quick-fixes</a>
        <li><a href="#analysis">Code Analysis</a>
        <li><a href="#cargo_support">Cargo Support</a>
        <li><a href="#testing">Testing</a>
        <li><a href="#debug">Debug (CLion)</a>
        <li><a href="#dyn_analysis">Dynamic Analysis (CLion)</a>
        <li><a href="#coverage">Code coverage</a>
      </ul>


    </nav>

    <article class="doc">
      <header class="doc-header">
        <h1 class="doc-title">{{ page.title }}</h1>
      </header>

      <div class="doc-content">
        {{ content }}
      </div>
    </article>
  </div>
</div>
